{% extends 'layouts/master.html' %} {% block contain %}

<div class="container" >



	<div class="row portfolio-item">
		<div class="col-lg-6">
			<a href="{{ url_for('about') }}" class="btn btn-info active">系統介紹</a>
			<a href="{{ url_for('index') }}" class="btn btn-info">轉換頁面</a>

		</div>
	</div>
	<div class="row portfolio-item">
		<div class="col-lg-6">
			<pre>
> 注意事項<br>
1. 請使用Moodel平台匯出的題目
2. 上傳檔案請注意檔案類型，此系統限定為txt格式。
3. 請注意：圖片題，需要特別匯出圖片並於OpenEdu平台匯入。
4. 目前無法轉換題目類型如下：
	- <多選題></pre>
		</div>
	</div>
	
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

{% endblock %}