{% extends 'layouts/master.html' %} {% block contain %}

<div class="container">
	<div class="row portfolio-item">
		<div class="col-lg-12">

			<div class="card" id="first">
				<div class="card-header">
					<h3 class="text-danger">注意事項
					</h3>
				</div>
				<div class="card-body">
					<h5>
						<pre>
1. 請使用Moodle平台匯出的題目。
2. 上傳檔案請注意檔案類型，此系統限定為txt格式。
3. 請注意：圖片題，需要特別匯出圖片並於OpenEdu平台匯入。
4. 目前無法轉換題目類型如下：
- <多選題>
</pre>
					</h5>
				</div>

			</div>

		</div>
	</div>
	<div class="card" id="first">
		<div class="card-header">
			<h3 class="text-success">上傳GIFT題目
			</h3>
		</div>
		<div class="card-body">
			{% if output %}
			<div class="alert alert-success" role="alert">
				已成功轉換
			</div>
			{% endif %}
			<form method="POST" enctype="multipart/form-data" action="/">

				{% if form.text.errors %}
				{% for error in form.text.errors %}
				<div class="alert alert-danger" role="alert">
					{{ error }}
				</div>
				{% endfor %}
				{% endif %}
				{{ form.hidden_tag() }}

				<div class="form-group">
					<input type="file" class="form-control" required id="text" name="text">
				</div>
				<div class="text-center">
					<input type="submit" id='submit' class="btn btn-default" name="submit" value="進行轉換">
				</div>
			</form>
		</div>
	</div>

	<div class="row portfolio-item">
		<div class="col-lg-6">
			{% if output %}
			<a href="{{ url_for('downloadFile') }}" class="btn btn-info">下載已轉換之完整edX題目(格式XML)</a>
			{% endif %} {% if arr %}
			<a href="#arr" class="btn btn-dark">點我看格式不符之題目</a>
			{% endif %}
		</div>
	</div>

	<div class="row portfolio-item">
		<div class="col-lg-12 mb-12 ">

			<div id="accordionedxall">
				{% if totalStr %}
				<div class="card">
					<div class="card-header">
						<a class="card-link text-info" data-toggle="collapse" href=#collapseedxall>
							#edX完整題目
						</a>
					</div>
					<div class="collapse" data-parent="#accordionedxall" id=collapseedxall>
						<div class="card-body">

							<textarea id=edxall class="card-text">{{totalStr}}</textarea>
						</div>
						<div class="card-footer">
							<button data-clipboard-target=#edxall class="btn btn-outline-info">複製題目</button>
						</div>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="row portfolio-item">

		<div class="col-lg-6 mb-12 ">
			<div id="accordionedx">
				{% if edx2 %}<h4>edX格式單題顯示</h4>{% for question in edx2 %}

				<div class="card">
					<div class="card-header">
						<a class="card-link text-info" data-toggle="collapse" href=#collapseedx{{loop.index}}>
							#edX格式題目{{loop.index}}
						</a>
					</div>
					<div class="collapse" data-parent="#accordionedx" id=collapseedx{{loop.index}}>
						<div class="card-body">
							<pre id=edx{{loop.index}} class="card-text">{{p}}
{% for ans in question %}{{ans}}
{% endfor %}{{p2}}</pre>
						</div>
						<div class="card-footer">
							<button data-clipboard-target=#edx{{loop.index}} class="btn btn-outline-info">複製題目{{loop.index}}</button>
						</div>
					</div>
				</div>
				{% endfor %} {% endif %}
			</div>
		</div>


		<div class="col-lg-6 mb-12 ">
			<div id="accordionmoodle">

				{% if moodle %}<h4>GIFT格式單題顯示</h4>{% for question in moodle %}

				<div class="card">
					<div class="card-header">
						<a class="card-link text-info" data-toggle="collapse" href=#collapsemoodle{{loop.index}}>
							#GIFT格式題目{{loop.index}}
						</a>
					</div>
					<div class="collapse" data-parent="#accordionmoodle" id=collapsemoodle{{loop.index}}>
						<div class="card-body">
							<pre id=moodle{{loop.index}} class="card-text">
{% for ans in question %}{{ans}}
{% endfor %}</pre>
						</div>
						<div class="card-footer">
							<button data-clipboard-target=#moodle{{loop.index}} class="btn btn-outline-info">複製題目{{loop.index}}</button>
						</div>
					</div>
				</div>
				{% endfor %} {% endif %}
			</div>

		</div>
	</div>
	<div class="row portfolio-item">
		<div class="col-lg-12 mb-12 ">
			{% if arr %}
			<div class="card" id="arr">
				<div class="card-header">
					<h3 class="text-danger">格式不符之題目
						<button data-clipboard-target=#arrcopy class="btn btn-outline-danger">複製題目</button>
						<a href="#top"><button class="btn btn-outline-dark">返回上層</button></a>
					</h3>
				</div>
				<div class="card-body">
					<pre id=arrcopy class="card-text">
{% for question in arr %}{{question}}{% endfor %}</pre>
				</div>

			</div>
			{% endif %}
		</div>
	</div>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<script>
	var clipboard = new ClipboardJS('button');
</script> {% endblock %}