<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

  <style>
    .portfolio-item {
      margin-top: 30px;
      margin-bottom: 30px;
    }

    * {
      font-family: 微軟正黑體;
    }

    textarea {
      padding: 0;
      width: 100%;
      box-sizing: border-box;
      height: 300px;

      overflow: auto;
    }
  </style>
  <title>數位學習平台試題轉換系統
  </title>
</head>

<body class="bg-light">
  <div class="container">
    <div class="page-header">
      <div class=" d-flex justify-content-center"><img src="{{ url_for('static', filename='img/Gift2Edx.png') }}"></div>
      <div class=" d-flex justify-content-center">
        <h1 class="text-center">
          數位學習平台試題轉換系統
        </h1>
      </div>
    </div>
    <div class="row">
      {% block contain %} {% endblock %}
    </div>
  </div>


</body>

</html>